* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
  font-family: "source sans pro", -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5em;
  color: #414141;
  background-color: transparent;
}
body.modal-active {
  overflow: hidden;
}
@media (max-width: 680px) {
  body.modal-active {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
body.menu-open #site-wrapper {
  transform: translate3d(-280px, 0, 0);
}
body.menu-open #site-wrapper .overlay {
  opacity: 1;
  visibility: visible;
}
body.menu-open #site-sidebar {
  transform: translate3d(0, 0, 0);
}

::-moz-selection {
  background: rgba(255, 183, 77, 0.7);
  color: #0e0e0e;
}

::selection {
  background: rgba(255, 183, 77, 0.7);
  color: #0e0e0e;
}

h1, h2, h3,
h4, h5, h6 {
  -webkit-font-feature-settings: "dlig" 1, "liga" 1, "lnum" 1, "kern" 1;
  -moz-font-feature-settings: "dlig" 1, "liga" 1, "lnum" 1, "kern" 1;
  -o-font-feature-settings: "dlig" 1, "liga" 1, "lnum" 1, "kern" 1;
  font-feature-settings: "dlig" 1, "liga" 1, "lnum" 1, "kern" 1;
  text-rendering: geometricPrecision;
  margin: 0 0 0.4em 0;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 1em;
}

a {
  color: #414141;
  text-decoration: none;
  transition: all 0.24s ease;
}
a:hover {
  text-decoration: none;
}

pre {
  tab-size: 2;
}
pre code {
  display: block;
  line-height: 1.5;
  border: 1px solid #ccc;
  background-color: white;
  color: #4d4d4c;
  padding: 10px;
}

::-webkit-input-placeholder {
  color: #b5b5b5;
  font-weight: normal;
}
@media (prefers-color-scheme: dark) {
  ::-webkit-input-placeholder {
    color: #5079a3;
  }
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #b5b5b5;
  font-weight: normal;
}
@media (prefers-color-scheme: dark) {
  :-moz-placeholder {
    color: #5079a3;
  }
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #b5b5b5;
  font-weight: normal;
}
@media (prefers-color-scheme: dark) {
  ::-moz-placeholder {
    color: #5079a3;
  }
}

:-ms-input-placeholder {
  color: #b5b5b5;
  font-weight: normal;
}
@media (prefers-color-scheme: dark) {
  :-ms-input-placeholder {
    color: #5079a3;
  }
}

.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none;
}

.inner {
  position: relative;
  width: 80%;
  max-width: 710px;
  margin: 0 auto;
}

.vertical {
  display: table-cell;
  vertical-align: middle;
}

.right {
  float: right;
}

.left {
  float: left;
}

/**
 *  Universal Wrapper
 */
#site-wrapper {
  position: relative;
  min-height: 100%;
  background: #EBECEE;
  overflow: hidden;
  transition: all 0.24s ease;
  z-index: 10;
}
@media (prefers-color-scheme: dark) {
  #site-wrapper {
    background-color: #0d131a;
  }
}
#site-wrapper .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.24s ease;
  visibility: hidden;
  z-index: 9999;
}

/**
  Ad Slots
 */
.google-auto-placed .adsbygoogle {
  margin: 0 auto;
}

.treat-block {
  margin: 30px 0;
}
.treat-block .adsbygoogle {
  margin: 0 auto;
}